<div id='footer' th:fragment="footer">
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                Copyright &copy; 1997&ndash;<script type="text/javascript">
                    var today = new Date();
                    var year = today.getFullYear();
                    document.write(year);
                </script> Resource Placement, Inc. All rights reserved. "R-placement" is a registered trademark of Resource Placement, Inc.
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>