<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments/head :: head"></head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <head th:replace="fragments/sidebar :: sidebar"></head>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <div th:replace="fragments/header :: header"></div>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Employee Skill Table</h1>
                        <p class="mb-4">Employee Skill Table contains employee names and skills. The information as shown the Employee Skill table below.</p>

                        <!-- DataTables Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Employee Skill Table</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Employee Name</th>
                                                <th>Skill</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Page Content -->

                

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="fragments/footer :: footer"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Modal -->
        
        <div th:replace="fragments/edit-emp :: edit-emp"></div>
        
        <!-- End of Modal -->


        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!--Logout Modal-->
        <div th:replace="fragments/logout-modal :: logout-modal"></div>

        <div th:replace="fragments/script :: script"></div>

        <script src="/js/empskill/datatables-demo.js"></script>
    </body>
</html>